<GridLayout rows="auto, *">

  <Image id="logo" row="0" src="res://icon" horizontalAlignment="center" stretch="aspectFit"></Image>

  <ListView [items]="userList" row="2" class="">
    <template let-item="item">
      <FlexboxLayout columns="*, *" (tap)="open(item)" >
        <StackLayout col="0" class="" >
          <Image marginTop="5" marginLeft="15" marginBottom="5" width="60" height="60" borderRadius="30" src="{{item.avatar}}"></Image>
        </StackLayout>
        <Label marginLeft="10" col="1" text="{{item.firstName}} {{item.lastName}}" class="medium-spacing"></Label>
      </FlexboxLayout>
    </template>
  </ListView>
</GridLayout>